<h2>Edit Product</h2>
<form action="/products/{{id}}" method="post">

  {{name}}
  <input type="text" id="nameEdit" value="{{name}}">
  <br>
  <br> {{price}}
  <input type="text" id="priceEdit" value="{{price}}">
  <br>
  <br> {{inventory}}
  <input type="text" id="inventoryEdit" value="{{inventory}}">
  <br>
  <br>
  <button type="submit">Submit Edit</button>

</form>